[submodule "makefiles"]
	path = makefiles
	url = https://github.com/ncarlier/makefiles
[submodule ".docker/haystack"]
	path = .docker/haystack
	url = https://github.com/deepset-ai/haystack
[submodule ".docker/searx"]
	path = .docker/searx
	url = https://github.com/asciimoo/searx
[submodule ".docker/AskIt"]
	path = .docker/AskIt
	url = https://github.com/cerebroai/AskIt
