[submodule "makefiles"]
	path = makefiles
	url = https://github.com/ncarlier/makefiles
[submodule ".docker/haystack"]
	path = .docker/haystack
	url = https://github.com/paper2code/haystack
[submodule ".docker/searx"]
	path = .docker/searx
	url = https://github.com/asciimoo/searx
[submodule ".docker/gptchat"]
	path = .docker/gptchat
	url = https://github.com/paper2code/gptchat
[submodule ".docker/msgflow"]
	path = .docker/msgflow
	url = https://github.com/paper2code/msgflow
[submodule ".docker/rss-briefing"]
	path = .docker/rss-briefing
	url = https://github.com/x0rzkov/rssBriefing
	branch = update_docker_gpu
[submodule ".docker/semantic-sh"]
	path = .docker/semantic-sh
	url = https://github.com/paper2code/semantic-sh
[submodule ".docker/searx-redis"]
	path = .docker/searx-redis
	url = https://gitlab.e.foundation/e/cloud/my-spot.git
[submodule ".docker/qa-ranksys"]
	path = .docker/qa-ranksys
	url = https://github.com/paper2code/Question-Answering-and-Ranking-System
[submodule ".docker/deeppavlov-dream-demos"]
	path = .docker/deeppavlov-dream-demos
	url = https://github.com/paper2code/dp-dream-demos
[submodule ".docker/spago"]
	path = .docker/spago
	url = https://github.com/paper2code/spago
[submodule ".docker/olivia-ai"]
	path = .docker/olivia-ai
	url = https://github.com/paper2code/olivia
[submodule ".docker/emogram"]
	path = .docker/emogram
	url = https://github.com/paper2code/Emogram
[submodule ".docker/linkedinfo-ml"]
	path = .docker/linkedinfo-ml
	url = https://github.com/paper2code/linkedinfo-ml
[submodule ".docker/paper-qa-bert-api"]
	path = .docker/paper-qa-bert-api
	url = https://github.com/paper2code/paper-qa-bert-api
[submodule ".docker/cdqa-odqa"]
	path = .docker/cdqa-odqa
	url = https://github.com/paper2code/Question-answering
[submodule ".docker/rasa-diagrams2ai"]
	path = .docker/rasa-diagrams2ai
	url = https://github.com/paper2code/diagrams2ai
[submodule ".docker/rasa"]
	path = .docker/rasa
	url = https://github.com/paper2code/rasa
[submodule ".docker/rasa-demo"]
	path = .docker/rasa-demo
	url = https://github.com/paper2code/rasa-demo
[submodule ".docker/tg-qa-arxiv"]
	path = .docker/tg-qa-arxiv
	url = https://github.com/paper2code/telegram-qa-with-arxiv-papers
[submodule ".docker/milvus-bootcamp"]
	path = .docker/milvus-bootcamp
	url = https://github.com/paper2code/milvus-bootcamp
[submodule ".docker/milvus"]
	path = .docker/milvus
	url = https://github.com/paper2code/milvus
[submodule ".docker/searx-telegram"]
	path = .docker/searx-telegram
	url = https://github.com/paper2code/searx_bot
